*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Domine", serif;
}


#starbucks-icon{
    display: inline-block;
    background-image: url('./assets/logo.svg') ;
    margin: 0 25px 0 25px;
    width: 50px;
    height: 50px;
    background-size: cover;

}
header{
    height: 90px;
}
nav{
    padding: 20px 0;
    background-color: #ffffff;
}
nav a{
    text-decoration:none;
    color: black;
}

section img{
    width: 50%;
}

/* utilizando la coma se pueden agrupar reglas para diferentes elementos */
.navBarButton, #starbucks-icon{
    vertical-align: middle;
}

.navBarButton{
    display: inline-block;
    font-weight: bold;
    color: #212121;
    margin: 0 25px;
}
.navBarButton a{
    color: #212121;
    padding: 30px;
}
nav a:hover{
    border-bottom: 8px solid #00754a;
    color: #00754a ;

}
.BANNER{
    display: flex;
    background-color: #1e3932;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.BANNER h1{
    font-size: 28px;
    margin-bottom: 25px;

}

.BANNER p{
    font-size: 18.5px;
    line-height: 35px;
    
}

.BANNER div{
    align-content: center;
    padding: 0 80px;
}

/* Segunda seccion de arriba hacia abajo */

#trescafes{
    background-color: #cae390;
    color: #1e3932;
}

/* Tercera seccion de arriba hacia abajo */

#cafetostado{
    background-color: #f5e1a4;
    color: #204285;
}
/* Cuarta parte */

#Bebidaenmano{
    background-color: #1e3932;
    color: white;
}

/* Quinta parte */

#mercancia{
    background-color: #474a6f;
    color: white;
}

ul{
    list-style: none;
    padding: 0;
}

footer{
    background-color: #ffffffd7;
    padding: 20px 0;
    color: rgba(136, 121, 121, 0.647);
    text-align: center;

}

.footer_container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_links{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}
/* line-height sirve para separar texto */
.column{
    line-height: 40px;
    margin: 0 40px;
}

.footer_container a{
text-decoration: none;
}
.footer_container h3{
    color: black;
}
.Socialmedia{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 40px;
    border-top: 1px solid rgb(116, 114, 114)
}

.Socialmedia a{
    width: 40px;
    height: 40px;
    
}

#fb_icon{
    background-image: url('./assets/fb_icon.png');
    background-size: cover;
}

#Ig_icon{
    background-image: url('./assets/Ig_icon.png');
    background-size: cover;
}
#X_icon{
    background-image: url(./assets/X_icon.png);
    background-size: cover;
}
#YT_icon{
    background-image: url(./assets/YT_icon.png);
    background-size: cover;
}

.footer_second{
    color: #999;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}

.Derechos{
    margin-top: 20px;
    color: #999;
    text-align: center;
    display: block;
    font-size: .875rem;
    font-weight: 300;
}
